.states 0
assets/external/ 0
*.py[oc] 0
wheels/ 0
__pycache__/
*.py[cod] 0
.venv/
venv/
*.egg-info/
dist/
build/
.env 
!.env.example           
.web/
*.db
nginx/ssl/                  
.vscode/settings.json
*.swp
.DS_Store